{% extends "base.html" %}

{% block css %}
<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
    .card-title {
        color: #007bff;
    }
    .card-text {
        color: #555;
    }
    .card-img-top {
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
</style>
{% endblock %}

{% block title %}Home - Agro Connect{% endblock %}

{% block content %}
    <h1 style="margin-top:5%">Bem-vindo ao Agro Connect - Versão Azul</h1>
    <p>Conectando produtores e consumidores diretamente.</p>
    <div class="row">
        {% for product in products %}
            <div class="card mb-4" style="width: 18rem; margin:1%">
                <img src="{{ url_for('static', filename='uploads/' + product.produtor.username + '/' + product.image_file) }}" class="card-img-top" alt="{{ product.nome }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.nome }}</h5>
                    <p class="card-text">{{ product.content }}</p>
                    <p class="card-text"><small class="text-muted">Posted by {{ product.produtor.username }} on {{ product.date_posted }}</small></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
