{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/cards.css')}}">
{% endblock %}

{% block title %}Home - Agro Connect{% endblock %}

{% block content %}
    <section class="container">
        <h2 class="titleSection">Marketplace</h2>
        <div class="content-cards">
            {% for product in products %}
                <div class="card">
                    <a href="{{ url_for('product_detail', product_id=product.id) }}">
                        <img src="{{ url_for('uploaded_file', filename=product.image_file) }}" class="card-img-top" alt="{{ product.nome }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.nome }}</h5>
                        <p class="card-text">{{ product.descricao }}</p>
                        <p class="card-price"><strong>Preço:</strong> R$ {{ product.preco }}</p>
                        <p class="card-availability"><strong>Qtde total:</strong> {{ product.quantidade }} {{ product.unidade_medida}}</p>
                        <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post" style="display: inline;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="btn btn-primary">Comprar</button>
                        </form>
                        <p class="card-text"><small class="text-muted">Postado por {{ product.produtor.username }} em {{ product.date_posted.strftime('%Y-%m-%d') }}</small></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
