{% extends "base.html" %}

{% block css %}
<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
    .card-title {
        color: #007bff;
    }
    .card-text {
        color: #555;
    }
</style>
{% endblock %}

{% block title %}Home - Agro Connect{% endblock %}

{% block content %}
    <h1 style="margin-top:5%">Bem-vindo ao Agro Connect - Versão Azul</h1>
    <p>Conectando produtores e consumidores diretamente.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.content }}</p>
                        <p class="text-muted">Postado por {{ product.author.username }} em {{ product.date_posted.strftime('%d/%m/%Y') }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

