{% extends "base.html" %}

{% block content %}
    <h2 style="margin-top:5%">My Products</h2>
    {% if products %}
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <a href="{{ url_for('product_detail', product_id=product.id) }}">
                            <img src="{{ url_for('uploaded_file', filename=product.image_file) }}" class="card-img-top" alt="{{ product.nome }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.nome }}</h5>
                            <p class="card-text">{{ product.descricao }}</p>
                            <form action="{{ url_for('delete_product', product_id=product.id) }}" method="post" style="display:inline;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Você não possui produtos cadastrados.</p>
    {% endif %}
{% endblock %}
